<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{ #people }}
    <h1><a href="/detail/{{ id }}">{{ name }}</a></h1>
    {{ /people }}
  </body>
</html>
